/* mixins */
/* mixins end */
* {
  box-sizing: border-box; }

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #333333; }

/* PageHeader styles */
.nav-logo {
  display: flex;
  align-items: center;
  padding: 20px; }
  .nav-logo img {
    max-width: 140px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  vertical-align: middle; }

li {
  float: right;
  min-width: 100px; }
  li a {
    color: white;
    text-decoration: none;
    font-family: Raleway;
    font-size: 13px;
    font-weight: bold;
    color: #444444;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }

li:first-child a {
  border-left: 1px solid #E7E7E7; }

li a:hover {
  background-color: #E7E7E7; }

.active {
  background-color: #F9F9F9; }

.nav-container {
  display: grid;
  grid-template-columns: 2fr 6fr;
  height: 101px;
  border: 1px solid #E7E7E7;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #FFFFFF; }

.wrapper {
  width: 1440px;
  margin: 0 auto; }

/* SLIDER Styling START */
.slider {
  width: inherit; }

.slider img {
  width: 100%; }

.slider-content1, .slider-content2, .slider-content3 {
  position: relative;
  text-align: center;
  object-fit: cover; }

.slider-grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.slider-title {
  text-shadow: 0.5px 0.9px 1px rgba(1, 2, 0, 0.15);
  font-family: Raleway;
  font-size: 64px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3.2px;
  text-align: center;
  color: #eeeeee; }

.slider-msg {
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #eeeeee; }

/* slider Styling */
.slider-content {
  display: none; }

/* Slideshow container */
.slider {
  position: relative;
  margin: auto; }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black; }

/* SLIDER Styling END
 *
 *
 * /* SECTION grids */
.section1 .section-content, .section2 .section-content, .section3 .section-content, .section4 .section-content, .section5 .section-content {
  margin: 50px 150px; }

.section1 .section-content, .section4 .section-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px; }

.section1 .section-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.section2 .section-content, .section3 .section-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center; }

.section-footer {
  background-color: #444444; }

.section3 .section-footer {
  background-color: #dddddd; }

/* section-footer */
.section1 .section-footer {
  height: 400px; }

.section2 .section-footer {
  height: 0; }

.section3 .section-footer {
  height: 245px; }

.section3 .section-footer {
  display: grid;
  align-items: center;
  text-align: center;
  font-family: Raleway;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.9;
  letter-spacing: 1.1px;
  color: #333333; }

.section4 .section-footer {
  height: 500px; }

.section-content {
  margin-bottom: 70px; }

/* SECTION text */
.section-title {
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.03;
  letter-spacing: normal;
  color: #444444;
  padding: 60px 30px 30px;
  text-align: center; }

.section-msg {
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #444444;
  padding: 20px;
  text-align: center; }

.section-article input {
  display: inline-block; }
.section-article h2 {
  text-transform: uppercase;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #444444; }
.section-article p {
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.79;
  letter-spacing: normal;
  color: #999999; }
.section-article h3 {
  font-weight: normal;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.8px;
  color: #1abc9c; }

.heart-icon {
  display: inline-block;
  border-radius: 50px;
  color: #ffffff;
  height: 100px;
  width: 100px;
  margin: 30px;
  text-align: center;
  background: #13bd9e;
  background: -moz-linear-gradient(-45deg, #13bd9e 0%, #13bd9e 50%, #12b396 51%, #12b396 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #13bd9e), color-stop(50%, #13bd9e), color-stop(51%, #12b396), color-stop(100%, #12b396));
  background: -webkit-linear-gradient(-45deg, #13bd9e 0%, #13bd9e 50%, #12b396 51%, #12b396 100%);
  background: -o-linear-gradient(-45deg, #13bd9e 0%, #13bd9e 50%, #12b396 51%, #12b396 100%);
  background: -ms-linear-gradient(-45deg, #13bd9e 0%, #13bd9e 50%, #12b396 51%, #12b396 100%);
  background: linear-gradient(135deg, #13bd9e 0%, #13bd9e 50%, #12b396 51%, #12b396 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13bd9e', endColorstr='#12b396', GradientType=1 ); }

.fa-heart {
  position: relative;
  top: 55%;
  -webkit-transform: translateY(-55%);
  -ms-transform: translateY(-55%);
  transform: translateY(-55%);
  font-size: 40px; }

/* Dividers */
.rectangle {
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 2px solid #aaaaaa;
  border-bottom: 2px solid #ffffff;
  width: 40px;
  height: 2px;
  background-color: #333333;
  margin: 20px 0 20px 0;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.rectangle_white {
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 2px solid #ffffff;
  width: 40px;
  height: 2px;
  background-color: #333333;
  margin: 20px 0 20px 0;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.section1 h1, .section1 h2, .section1 p {
  text-align: left; }
.section1 h2 {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: 1.2px;
  text-align: left;
  color: #333333; }

.section1 p {
  max-width: 350px; }
.section1 .footer-article {
  padding: 130px 0 130px 0; }
  .section1 .footer-article h1 {
    font-family: Raleway;
    font-size: 56px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.66;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff; }
  .section1 .footer-article h2 {
    font-family: Raleway;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.47;
    letter-spacing: 0.8px;
    text-align: center;
    color: #ffffff; }

.section4 {
  text-align: center; }
  .section4 h2 {
    padding: 18px; }

.section4 .section-footer {
  padding: 100px 210px; }
  .section4 .section-footer img {
    border-radius: 50%; }
  .section4 .section-footer h2 {
    font-family: CreteRound;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff; }
  .section4 .section-footer h1 {
    font-family: Lato;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #eeeeee;
    margin: 5px; }
  .section4 .section-footer h3 {
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.58;
    letter-spacing: normal;
    color: #aaaaaa; }

.three-dot {
  color: #1abc9c; }

.media-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  width: 120px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.icon-box {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  text-align: center;
  background-color: #eeeeee;
  align-items: center; }

.media-icons .fa-twitter, .media-icons .fa-facebook-f, .media-icons .fa-google-plus-g {
  position: relative;
  top: 55%;
  -webkit-transform: translateY(-55%);
  -ms-transform: translateY(-55%);
  transform: translateY(-55%);
  font-size: 15px; }

/* SEND EMAIL FORM STYLING */
.button-send {
  border: none;
  margin: 0;
  text-decoration: none;
  background: #13BD9D;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-bottom: 3px solid #0E9E83;
  border-radius: 5px;
  width: 165px;
  height: 50px;
  font-family: Raleway;
  font-size: 17px;
  font-weight: bold;
  color: #ffffff; }

form input, form textarea, form select {
  border: 2px solid #eeeeee;
  width: 100%;
  color: #989898;
  margin: 5px 0; }

input, select {
  height: 35px; }

textarea {
  height: 200px; }

form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr 3fr 1fr;
  grid-template-areas: "form-header form-header placehold1 map" "yourname email phone map" "subject subject phone2 map" "comment comment comment map" "send-button placehold placehold placehold";
  grid-gap: 10px; }

label {
  font-family: Raleway;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.7px;
  text-align: left;
  color: #444444; }

.form-header {
  grid-area: form-header; }

.yourname {
  grid-area: yourname; }

.email {
  grid-area: email; }

.subject {
  grid-area: subject; }

.phone {
  grid-area: phone; }

.phone2 {
  grid-area: phone2; }

.comment {
  grid-area: comment; }

.send-button {
  grid-area: send-button; }

.map {
  grid-area: map;
  height: 100%;
  width: 100%; }

.yourname, .email, .subject, .phone, .phone2, .comment {
  height: 50px; }
  .yourname input, .email input, .subject input, .phone input, .phone2 input, .comment input {
    display: flex; }

form div {
  display: grid;
  grid-template-rows: [labels] auto [controls] auto;
  grid-auto-flow: column;
  grid-gap: 5px; }

form div > label {
  grid-row: labels;
  grid-column: auto; }

form div > input, form div > textarea {
  grid-row: controls;
  grid-column: auto; }

.map {
  background-color: #e2e2e2e2;
  display: flex; }

.page-footer {
  font-family: Lato;
  font-size: 14px;
  letter-spacing: 0.1px;
  text-align: left;
  color: #616161; }

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.footer-right, .footer-left {
  padding: 40px 150px; }

.footer-right {
  text-align: right; }
  .footer-right svg {
    transform: initial;
    margin: 0 0 0 16px; }

.footer-left {
  text-align: left; }

/*# sourceMappingURL=style.css.map */
